
.G{
  text-align:center;
  color:blue
  
}

.O{
color:yellow
}

.oz{
  text-align:center;
  color:yellow
}

.gz{
color:blue
}
.L{
  text-align:center;
  color:green
}

.E{
color:red
}

.I{
  color: green
  
}

.S{
  color:brown 
}

.C{
  color:black
}

.os{
  color:red
}

.oss{
  color:violet
}

.ll{
color:orange
}

.name{
  color:red
  text-align:center
}

body{
  background-Color:white
}